@use "../../styles/sectionBase";

.contactSection {
  @extend .sectionBase;
  --section-bg: #3fb88a;
}

.contactContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nameTitle {
  font-size: 1.5rem; // Decreased heading size for small screens
}

.contactDescription {
  height: 20vh;
  width: 70vw;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5rem;
  width: auto;
  padding: 0.5rem;
}

@media (min-width: 800px) {
  .contactContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .nameTitle {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 3.5vw;
  }
  .contactDescription {
    grid-area: 2 / 1 / 4 / 3;
    align-self: baseline;
    width: 30vw;
  }
  .contactLinks {
    grid-area: 3 / 1 /4 / 5;
    width: fit-content;
    justify-self: center;
  }
}
