@use "../../styles/sectionBase";

.workSection {
  @extend .sectionBase;
  --section-bg: #f9d423;
}

.workContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nameTitle {
  font-size: 1.5rem; // Decreased heading size for small screens
}

@media (min-width: 800px) {
  .workSection {
    padding: 4rem;
  }
  .workContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nameTitle {
    font-size: 3.5vw;
  }
  .workGrid {
    width: 30vw;
  }
}
